useDynLib(BRugs)
importFrom(coda, mcmc)
export(BRugsFit, bugsData, bugsInits, buildMCMC, currentValues,
dicClear, dicSet, dicStats,
getNumChains, help.BRugs, help.WinBUGS,
modelAdaptivePhase, modelCheck, modelCompile, modelData,
modelGenInits, modelGetSeed, modelInits, modelIteration,
modelModules, modelNames, modelPrecision, modelSaveState,
modelSetAP, modelSetIts, modelSetOR, modelSetSeed,
modelUpdate, modelEnable, modelDisable,
modelEnableDynamic, modelDisableDynamic,
plotAutoC, plotBgr, plotDensity,
plotHistory, ranksClear, ranksSet, ranksStats,
samplesAutoC, samplesBgr, samplesClear, samplesCoda,
samplesCorrel, samplesDensity, samplesGetBeg, samplesGetEnd,
samplesGetFirstChain, samplesGetLastChain, samplesGetThin, samplesHistory,
samplesMonitors, samplesSample, samplesSet, samplesSetBeg,
samplesSetEnd, samplesSetFirstChain, samplesSetLastChain, samplesSetThin,
samplesSize, samplesStats, setValues, summaryClear,
summarySet, summaryStats, writeModel)
